* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
}
main {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.admin-options {
  position: sticky;
  top: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
  min-height: 100vh;
  background-color: rgb(255, 228, 178);
}

.option h2 {
  font-weight: lighter;
}
.option ul {
  list-style: none;
}
.option ul li {
  padding: 1rem;
  cursor: pointer;
}
.option ul li:hover {
  background-color: rgba(255, 218, 150, 0.4);
}

.admin-options h1 {
  font-size: 2rem;
  font-weight: 300;
}

.content {
  flex: 3;
  padding: 2rem;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

/* CONTENT SECTION */
.content h2 {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
}

/* ADD PRODUCT FORM*/
.add-form {
  padding: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 4rem auto;
  border: 1px solid black;
  border-radius: 10px;
}
.add-form input,
.add-form select,
.add-form button,
.add-form textarea {
  width: 100%;
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  padding: 1rem;
}

.add-form button {
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s ease;
  color: black;
  border: 1px solid black;
  background-color: white;
}
.add-form button:hover {
  background-color: black;
  color: white;
}
#discard-product-btn {
  color: tomato;
  border: 1px solid tomato;
  background-color: white;
}
#discard-product-btn:hover {
  background-color: tomato;
  color: white;
}
.form-row {
  display: flex;
  gap: 2rem;
  margin: 1rem 0rem;
}

@media screen and (max-width: 950px) {
  main {
    flex-direction: column;
  }
  .admin-options {
    min-height: 10vh;
  }
  .option {
    display: none;
  }
}

/* .admin-product-table {
  border: 1px orange solid;
} */

.delete-product-icon {
  color: #777;
  cursor: pointer;
}

.quantity-input {
  display: none;
  max-width: -moz-fit-content;
  max-width: fit-content;
  /* min-height: 5px; */
  border: 2px #ffe4b2 solid;
  border-radius: 8px;
}

.editable_quantity {
  cursor: pointer;
}

.content table {
  margin: 4rem 0rem;
}
.content .title {
  font-size: 5rem;
  color: #777;
  font-weight: 300;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
